<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devhome.eduardobastos.roouber">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_rouber"
        android:label="@string/gBruto"
        android:roundIcon="@mipmap/ic_launcher_rouber_round"
        android:supportsRtl="true"
        android:theme = "@style/arro1" >

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
                android:theme="@style/arro1"
            />



        <activity android:name=".GanhosLiquidosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/arroz2"
            android:label="@string/gLiq"/>


        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>